DATABASE_URL=postgresql+asyncpg://postgres.vawbiqfikwpgrjjxnqna:<your-db-password>@aws-1-us-east-1.pooler.supabase.com:5432/postgres
SUPABASE_URL=https://vawbiqfikwpgrjjxnqna.supabase.co
SUPABASE_SERVICE_KEY=your-service-role-key
GOOGLE_CLIENT_ID=27126137080-e8ef1u7bvdkhqgs7p1it9m2ejtcp8ls1.apps.googleusercontent.com
SECRET_KEY=replace-with-your-secret-key
ALLOWED_ORIGINS=http://localhost:8081
